@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;

}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

h1 {
    font-size: 48px;
}

p {
    color: rgb(100, 97, 97);
    font-size: 18px;
    line-height: 1.5;
}


/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
    width: 100%;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    max-height: 75px;

}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 48px;
    padding-bottom: 2px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.nav__links a:hover:after {
    opacity: 1;
}

.nav__links a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms ease;
    opacity: 0;
}

.nav__links a {
        text-decoration: none;
        position: relative;   /* IMPORTANT */
}

.login {
    margin-left: 48px;
}

.signup {
    padding: 10px 30px;
    color: white;
    background: #6415ff;
    border-radius: 50px;
    transition: all 300ms ease;
    border: transparent;

}

.signup:hover {
    background-color: rgb(80,17,204);
    color: white;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.nav__logo__title {
    font-size: 24px;
    font-weight: 900;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/


header .row {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header__info {
    width: 40%;
}

.header__info p{
    margin: 32px 0;
    
}

.header__info h1 {
    font-weight: bold;
}

.header__image {
    width: calc(100% - 40%);
}

.header__image img{
    max-width: 768px;
    height: auto;
}


.email__form {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  height: 68px;
  width: 100%;
  max-width: 480px;
}

.email__form input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rbg(36, 62,99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.email__form input:hover {
    border-color: rgb(160, 175, 192);
}

.email__form input:focus, .email__form input:active {
    outline: none;
    border-color: rgb(100,21,225)
}

.email__form button {
  z-index: 2;
  border-radius: 500px;
  border: none;
  width: 160px;
  height: calc(100% - 16px);
  margin: 8px;
  font-size: 16px;
  font-weight: 700;
  background: #6415ff;
  color: white;
  transition: all 300ms ease;
}

.email__form button:hover {
    background-color: rgb(60,13,153);
}

.trusted__customers p{
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;

}
.trusted__customers img{
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
    width: 100%;
}




/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#features h1 {
    font-weight: bold;
}

.service__paragraph {
    text-align: center;
    max-width: 576px;
}
.feature__list {
    margin-top: 40px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.feature {
    display: flex;
    align-items: flex-start;
    width: calc(100%/3);
    padding: 32px 24px;
}

.feature__description {
    margin-top: 8px;
    margin-left: 16px;
}

.feature img {
 width: 20px;
 height: 20px;  
}

.feature p {
 line-height: 2;
}

.border__circle {
    height: 60px;
    width: 60px;
    flex-shrink: 0;
    border: 1px solid #e5e7eb; /* light grey border */
    border-radius: 50%; 
    display: flex;      
    align-items: center; 
    justify-content: center;
}

.feature__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}





/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center

}

.quality__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    max-width: 50%;
}


#values .btn {
    margin-top: 48px;
}
.btn {
  background: #6415ff;
  color: white;
  border: none;
  height: 50px;
  width: 150px;
  border-radius: 9999px;      /* pill shape */
  padding: 12px 32px;
  font-weight: 600;
  cursor: pointer;
}

.quality__info button:hover {
  background: linear-gradient(135deg, #5b13e6, #6d28d9);
}

.homepageImg {
    border-radius: 4px;
    border: 1px solid rgb(229,231,235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
    width: 50%;
}

.homepageImg img {
    max-width: 100%;
    z-index: 1;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homepageImgv2 {
    display: flex;
    position: relative;
    max-width: 50%;
}

.homepageImgv2 img {
    max-width: 100%;
    z-index: 2;
}

.steps__grid {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    opacity: 0.8;
    z-index: -10;
    color: rgb(100, 21, 255);
    fill: currentColor;
}

.steps__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.steps__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.step {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.step h1 {
    color: lightgray;
    text-align: center;
    width: 78px;
    padding: 10px;

    
}

.step p {
    line-height: 2;
    width: 75%

}

.step__direction {
    display: flex;
    flex-direction: column;
}


/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values-title {
    margin-top: 16px;
    margin-bottom: 32px;
}

.values__description, .valuesImg {
    width: 50%;
}

.valuesImg img{
    max-width: 100%;
}

.values__paragraph {
    color: #7c8ba1;
}

.value__title {
    display: flex;
    align-items: center;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

.value:nth-of-type(2) {
    margin-top: 32px;
}


.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.values__list {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    flex-direction: row;
}
.value {
    margin-top: 2rem;
    margin-right: 2rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
    


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.price__description p {
    text-align: center;
    max-width: 576px;
}

.plans {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    position: relative;
}

.plan {
    width: 100%;
    max-width: 24rem;
    margin-top: 4rem;
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 8px;
    background: white;
    overflow: hidden;
     
}

.plan__business{
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);

}

.plan:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #3ab7a5, #7ed9d1);
}

.plan:last-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right,#f87171,#fca5a5);
}

.plan__section {
    display: flex;
    flex-direction: column;
    align-items: center;   /* centers the text horizontally */
    gap: 12px;  
    padding: 24px;
    border-bottom: 1px solid #e5e7eb;
}
.plan__business .plan__section{
  border-bottom:1px solid rgba(255,255,255,0.25);
}

.plan__business h1,
.plan__business h2,
.plan__business h3,
.plan__business h4,
.plan__business p {
  color: white;
}


.plan__bottom {
  padding: 24px;
  display: flex;
  justify-content: center;
}

.plan__bottom button {
  background: linear-gradient(to right, #3ab7a5, #7ed9d1);
  color: white;
  justify-content: center;
  border: none;
  height: 50px;
  width: 150px;
  border-radius: 9999px;      /* pill shape */
  padding: 12px 32px;
  font-weight: 600;
  cursor: pointer;
}

.plan__enterprise .plan__bottom button {
  background: linear-gradient(to right,#f87171,#fca5a5);
}

.plan__business .plan__bottom button{
  background:#fff;
  color:#6415ff;
}

.plans__blob{
    z-index: -10;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}

.plan p {
    font-size: 16px;
    font-weight: 500;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonialsImg, .testimonials__info{
    width: 50%;
}

.testimonialsImg Img{
    width: 100%;
}

.testimonials__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 64px;
}

.testimonial {
    margin-top: 40px;
}
.fa-star {
    color: rgb(246 173 85);
}

.testimonial__title {
    color: #4a5568;
    line-height: 1.625;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__name {
    color: #4a5568;
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border: none;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms ease;
}

.testimonial__button svg {
    width: 16px;
    height: 16px;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}

.call__section {
  background: linear-gradient(135deg, #6415ff, #7c3aed);
  border-radius: 8px;
  padding: 96px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call__section h1 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  max-width: 600px;
  line-height: 1.4;
}

.call__buttons {
  display: flex;
  gap: 20px;
}

.btn__getstarted {
  background: #f56565;
  color: white;
}

.btn__contactus {
  background: transparent;
  border: 2px solid rgba(255,255,255,0.6);
  color: white;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.links {
    display: flex;
    flex-wrap: wrap;
    margin-top: -48px;
    justify-content: space-between;
}

.link {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    color: white;
    gap: 10px;
}

 .link h4 {
    padding-bottom: 10px;
 }
 .link h4 {
    font-weight: 700;
color: #f7fafc;

 }
.link h5 {
   
    color: #f7fafc;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

 .footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

 .footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

  .footer__info h5{
    color: white; 
}

 .treatInc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
 }

 .treatInc h3 {
    color: white;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.05em;
 }

 .footer__info h5 {
    color: #cbd5e0;
    font-weight: 500;
 }
 .treatInc img {
    height: 25px
 }
 
 .socialMediaLogos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
 }

 .socialMediaLogos svg {
    height: 30px;
    width: 30px;
 }

 .social__icon {
      margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }

    h1 {
        font-size: 36px;
        color: #1a202c;
        line-height: 1.25;
    }

    .price__description h1 {
        font-size: 48px;
    }

    .header__info p {
        font-size: 16px;
    }

    .header__image{
        display: flex;
        justify-content: flex-end;
    }
    .header__image img{
        max-width: 512px;
    }

        .steps__grid {
        height: 5rem;
        width: 5rem;
        bottom: -50px;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    .nav__links {
        display: none;
    }

    /* Header media */

    .header__info {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__info, .header__image {
        width: 100%;
        max-width: 512px;
        margin: 0 auto;
    }

    .header__info h1{
        font-size: 30px;
    }

    .header__info p {
        margin: 20px 0
    }

    .trusted__customers {
        display: flex;
            flex-direction: column;
            align-items: center;
        }

    .trusted__customers p {
        margin-top: 48px;
    }

    .trusted__customers img{
        padding-right: 0px;
        }
    

    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }

    /* feature Media */

    .feature__list{
        max-width: 768px;
    }

    .feature {
        width: calc(50%);
    }

    .values__list {
        max-width: 20rem;
        flex-direction: column;
    }

    .price__description p {
        font-size: 16px;
    }

    /* pricing section */

    .plans {
        flex-direction: column;
        align-items: center;
    }

    /* call section */

    .start__row {
        flex-direction: column;
    }

    .start__row h1 {
        text-align: center;
        width: 100%;
        max-width: 512px;
    }

    .start__row button {
        width: auto;
        margin-top: 24px;
    }

    
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }

    /* feature section */

    .feature__list {
        justify-content: center;
    }

    .feature {
        width: auto;
        max-width: 384px;
    }

    .service__paragraph, .feature__description p{
        font-size: 14px;
    }

    /* quality and steps section */

    .homepageImg, .quality__info, .homepageImgv2, .steps__info, .values__description, .valuesImg, .testimonialsImg, .testimonials__info{
        width: 100%;
        max-width: 448px;
    }

    .quality__info, .steps__info, .values__description, .testimonials__info{
        padding: 0;
        margin-top: 64px;
        text-align: center;
        align-items: center;
    }

    .quality__info p, .values__description p, .testimonials__info p{
        font-size: 14px;
    }

    .step, .step__direction{
        flex-direction: column;
        align-items: center;
    }

    .values__list {
       margin-left: auto;
       margin-right: auto;
    }

    .value {
        align-items: center;
    }

    /* footer section */

    .footer__info h5, .socialMediaLogos{
        margin-top: 32px;
    }

    .links {
        justify-content: flex-start;
    }

    .link {
        width: calc(100%/3);
        
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }

    .email__form {
        flex-direction: column;
        height: auto;
    }

    .email__form input {
        position: static;
        padding: 16px;
        padding-left: 32px;
        line-height:1.5;
    }

    .email__form button{
        width: 480px;
        padding: 16px 0;
        margin: 16px 0;
        margin-bottom: 0px;
        line-height: 1.5;
    }

    /* Features Section */
    .feature__list {
        justify-content: center;
    }

    .feature {
        width: auto;
        max-width: 384px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .feature__title {
        margin-left: 0px;
        margin-top: 16px;
    }

    /* pricing section */

    .price__description {
        text-align: center;
    }

    .price__description h1 {
        font-size: 36px;
    }

    .price__description p {
        font-size: 14px;
    }

    /* testimonial section */

    .testimonial__bottom {
        flex-direction: column;
        align-items: center;
        padding-top: 4px;
    }

    .testimonial__profile {
        flex-direction: column;
        align-items: center;
    }

    .testimonial__buttons {
        margin-top: 32px;
    }

    /* start section */
    .start__container {
        padding: 80px 0;
    }

    /* footer section */

    .links {
        justify-content: center;
    }

    .link {
        width: auto;
        padding: 0 16px;
        text-align: center;
        align-items: center;
    }

    .link h5 {
        font-size: 12px;
        font-weight: 400;
    }

    .footer__info {
        flex-direction: column;
        align-items: center;
    }
    
    main {
        margin-bottom: 80px;
    }
}